@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-work-sens-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  *{
    margin: 0px auto;
    box-sizing: content-box;
  }

  /* Shared Styles */
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-black{
    color: #131313;
}

.text-gray{
    color: #424242;
}    

.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgb(255, 144, 14, 0.1);
}

.text-orange-light{
    color: #FF900E;
}

.btn-primary{
    color: #fff;
    background-color: #FF900E;
    margin-top: 32px;
    border-color:#FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}

.section-title{
    font-size: 2.8125rem;
    font-weight: 700;
}

.div-description{
    max-width: 540px;
    margin: 100px 0;
    padding: 0 20px;
}

.div-description>p{
    margin-top: 24px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

main> section{
    margin-top:8.125rem;
}

  /* Navbar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 2300px;
    margin: 0 auto;
    padding-top: 50px;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-link{
    text-decoration: none;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}


/* Banner related styles */
.banner{
    margin: 0 auto;
    margin-top: 116px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
}

.banner-content{
    max-width: 850px;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    margin-top: 32px;
    font-size: 1rem;
}

.banner-image{
    width: 98%;
    border-radius: 8px;
    padding-bottom: 30px;
}

/* Team and feature related styles */
.teams{
    max-width: 1318px;
    width: 100%;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 8rem;
    max-width: 530px;
}


.feature-description{
    margin-top: 24px;
}

#quick-list{
    font-weight: 500;
}


/* some facts related styles */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 80px;

}
.fact-card{
    margin: 0 auto;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 242px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    margin-top: 10px;
    font-size: 2.8125rem;
    font-weight:600;
}

.fact-name{
    font-size: 1.25rem;
    font-weight:600;
}

/* our sponsors styles */
.our-sponsors{
    margin: 80px auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sponsor-text{
    margin-bottom: 50px;
}
.sponsors-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    max-width: 98%;

}
.sponsors-logo img{
    filter: grayscale(100%);
    max-width: 165px;
    width: 100%;
}

/* Footer */
.footer{
    text-align: center;
    margin-bottom: 80px;
   
}

.footer p{
    font-size: 1.25rem;
    padding: 50px 0;
    margin: 0 auto;
}



/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        margin: 5px 0;
    }

    .nav-links {
        margin-top: 20px;
        padding:0;
    }

    .team-img-container, .facts-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .banner, .our-features{
        text-align: center;
        margin: 50px 10px;
    }
    .some-facts{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .fact-description{
        text-align: center;
        margin: 50px auto;
    }
    .facts-container{
        justify-items: center;
    }
}


@media screen and (min-width: 576px) and (max-width:1024px) {
    .teams{
        flex-direction: column;
        width: 95%;
    }
    .team-img-container{
        gap: 15px;
        margin: 0 auto;
        padding: 0;
    }
    .team-img-container>img{
        width: 95%;
    }
    .our-features{
        text-align: center;
        margin: 50px 10px;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}